/* CSS CUSTOM PROPERTIES */

:root {
--clr-primary-orange: hsl(31, 77%, 52%);
--clr-primary-cyan: hsl(184, 100%, 22%);
--clr-primary-darkCyan: hsl(179, 100%, 13%);

--clr-neutral-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
--clr-neutral-gray: hsl(0, 0%, 95%); /* background, headings, buttons */

--ff-base: 'Lexend Deca', sans-serif;
--ff-accent: 'Big Shoulders Display', cursive;

--fs-base: .9375rem;

--fw--main: 400;
--fw-accent: 700;
}

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* GENERAL STYLES */

  body {
    min-height: 100vh;
    background: var(--clr-neutral-gray);
    display: grid;
    place-items: center;
    font-family: var(--ff-base);
    padding: 6.25rem 0;
    position: relative
    
  }

    /* COMPONENT STYLES */

  .container {
    display: grid;
    grid-template-rows: repeat(3, 27em);
    max-width: 30rem;
    margin: 0 2rem;
    color: var(--clr-neutral-white);
    border-radius: .5rem;
    overflow: hidden;
  }

  .container__heading--sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

 .card__title {
    font-family: var(--fw-accent);
    font-weight: var(--fw-accent);
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .container__article {
    display: grid;
    align-items: center;
    grid-template-rows: .4fr .5fr 1fr 3.125rem;
    padding: 3rem;
  }

  .card__description {
    align-self: flex-start;
    line-height: 1.6rem;
    margin-top: .2rem;
    letter-spacing: .01em;
    font-size: var(--fs-base);
    word-spacing: .05em;
    max-width: 20rem;
  }


  article img {
    margin-top: -1.3rem;
  }


.card__1 {
    background: var(--clr-primary-orange);
}

.card__2 {
    background: var(--clr-primary-cyan);
}

.card__3 {
    background: var(--clr-primary-darkCyan);
}







/* FRONTEND MENTOR ATTR */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
